// SPDX-License-Identifier: (GPL-2.0+ OR MIT)

#include "rk3566-radxa-zero-3w.dts"

&sdmmc1 {
	#address-cells = <1>;
	#size-cells = <0>;

	brcmf: wifi@1 {
		compatible = "brcm,bcm43430a1-fmac", "brcm,bcm4329-fmac";
		reg = <1>;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PB7 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-names = "host-wake";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_wake_host_h>;
	};
};

&uart1 {
	bluetooth {
		compatible = "brcm,bcm43430a1-bt";
		clocks = <&rk817 1>;
		clock-names = "lpo";
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PB3 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-names = "host-wakeup";
		device-wakeup-gpios = <&gpio0 RK_PB4 GPIO_ACTIVE_HIGH>;
		shutdown-gpios = <&gpio0 RK_PC1 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&bt_reg_on_h &bt_wake_host_h &host_wake_bt_h>;
		vbat-supply = <&vcc_3v3>;
		vddio-supply = <&vcc_1v8>;
	};
};
